/* fondo general*/
.root{
    -fx-background-color:#4B2400;
    -fx-background-size:cover; -fx-background-repeat:no-repeat; 
	-fx-background-position:center center;
	-tema: "naranja";
}

.fondos{
    -fx-background-color:linear-gradient(#4B2400 60%, #7A3700 100%);
    -fx-background-image:url("/imagenes/pokestop.png");
    -fx-background-size:cover; -fx-background-repeat:no-repeat; -fx-background-position:center center;
}

/* logos */
#panelLogo,#logoLogin{
    -fx-background-image:url("/imagenes/logoNaranja.jpg");
    -fx-background-size:contain; -fx-background-repeat:no-repeat; -fx-background-position:center center;
    -fx-background-color:#7A3700;
	-fx-opacity: 1.0;
}
.logoEsquina{
    -fx-background-image:url("/imagenes/logoNaranjaMini.jpg");
    -fx-background-size:100% 100%; -fx-background-repeat:no-repeat; -fx-background-position:center center;
}

/* cabeceras login */
#inicioSesion,#recuperarCuenta{ 
	-fx-font-family:"Inter"; 
	-fx-font-weight:bold; 
	-fx-text-fill:#FFFFFF;
}

#inicioSesion{ 
	-fx-font-size:35px; 
}

#recuperarCuenta{
	 -fx-font-size:50px;
}

/* textos generales */
.titulo { 
	-fx-font-family:"Inter"; 
	-fx-font-size:40px; 
	-fx-font-weight:bold; 
	-fx-text-fill:#FFF9F3; 
}
.label { 
	-fx-font-family:"Inter"; 
	-fx-font-size:14px; 
	-fx-text-fill:#FFF9F3; 
}
.subtituloSeccion { 
	-fx-font-family:"Inter"; 
	-fx-font-size:18px; 
	-fx-font-weight:bold; 
	-fx-text-fill:#FFE2C4; 
}

.tituloColeccion  { 
	-fx-font-family:"Inter"; 
	-fx-font-size:18px; 
	-fx-font-weight:bold; 
}
.etiquetasPanelSuperior { 
	-fx-font-family:"Inter"; 
	-fx-font-size:22px; 
	-fx-font-weight:bold; 
	-fx-text-fill:#FFFFFF; 
}

.label-mini{ 
	-fx-font-family:"Inter"; 
	-fx-font-size:18px; 
	-fx-font-weight:bold; 
	-fx-text-fill:#FFF9F3;
 }

.etiquetasPanelSuperior:hover {
    -fx-effect: dropshadow(gaussian, #FFCD4C, 10, 0.6, 0, 0);
    -fx-cursor: hand;
}

.etiquetasVarias { 
	-fx-font-family: "Inter"; 
	-fx-font-size: 22px; 
	-fx-font-weight: bold; 
	-fx-text-fill: #FFFFFF; 
}


/* textos especificos */
#txtRegistro,#txtInicioSesion{ 
	-fx-font-size:80px; 
	-fx-font-family:"Inter"; 
	-fx-font-weight:bold; 
	-fx-text-fill:#FFFFFF; 
}

#txtNoValido   { 
	-fx-font-size:10px; 
	-fx-text-fill:#FF5E5E; 
	-fx-font-weight:bold; 
}
.textosCajas { 
	-fx-font-size:24px; 
	-fx-font-family:"Inter"; 
	-fx-font-weight:bold; 
	-fx-text-fill:#FFFFFF; 
}
.textosEnlaces { 
	-fx-font-size:10px; 
	-fx-text-fill:#4B2400; 
}

#txtDescripcion{ 
	-fx-font-size:10px; 
	-fx-text-fill:#FFE2C4;
}
#nombreCarta { 
	-fx-font-size:28px; 
	-fx-font-weight:bold; 
	-fx-text-fill:#FFFFFF; 
}

#nombreElemento { 
	-fx-font-size:28px; 
	-fx-font-weight:bold; 
	-fx-text-fill:#FFFFFF; 
}


/* paneles */
.panelSuperior{
    -fx-background-color:linear-gradient(#D65F00 0%, #7A3700 100%);
    -fx-border-color:transparent transparent #3E7E9A transparent;
    -fx-border-width:0 0 3 0;
}

#fondoPane,#panelUsuarioCorreo{ 
	-fx-background-color:#FFE2C4;
	-fx-opacity: 1.0; 
}

/* bloques */
.bloqueColeccion{
    -fx-background-color:#7A3700;
    -fx-border-color:#FFE2C4;
    -fx-border-radius:10; -fx-background-radius:10;
    -fx-padding:15;
    -fx-effect:dropshadow(gaussian,rgba(0,0,0,0.4),10,0.2,0,4);
}
.bloqueColeccion:hover{
    -fx-scale-x:1.06; -fx-scale-y:1.06;
    -fx-background-color:#D65F00;
    -fx-border-color:#3E7E9A;
    -fx-effect:dropshadow(gaussian,rgba(0,0,0,0.6),25,0.4,0,8);
}

/* tarjetas */

.tarjetaCarta{
    -fx-background-color:#7A3700;
    -fx-border-color:#FFE2C4;
    -fx-border-radius:10; -fx-background-radius:10;
    -fx-padding:10;
    -fx-effect:dropshadow(gaussian,rgba(0,0,0,0.25),8,0.2,0,3);
    -fx-cursor:hand; -fx-transition:all .2s ease-in-out;
}
.tarjetaCarta:hover{
    -fx-scale-x:1.08; -fx-scale-y:1.08;
    -fx-background-color:#D65F00;
    -fx-border-color:#3E7E9A;
    -fx-effect:dropshadow(gaussian,rgba(0,0,0,0.55),20,0.35,0,6);
}
.tituloCarta{ 
	-fx-font-family:"Inter"; 
	-fx-font-size:14px; 
	-fx-font-weight:bold; 
	-fx-text-fill:#FFFFFF;
 }
 
.precioCarta{ -fx-font-family:"Inter"; 
	-fx-font-size:12px; 
	-fx-text-fill:#3E7E9A; 
}

/* botones */
.btncontinuar,.button{
    -fx-background-color:#7A3700;
    -fx-text-fill:#FFFFFF;
    -fx-font-family:"Inter"; -fx-font-size:20; -fx-font-weight:bold;
    -fx-background-radius:6;
	-fx-opacity: 1.0;
}
.btncontinuar:hover,.button:hover{
    -fx-background-color:#3E7E9A; 
	-fx-text-fill:#FFFFFF;
	-fx-opacity: 1.0;
}

.btnpequeno{
    -fx-background-color:#D65F00;
    -fx-font-size:14px; 
	-fx-padding:4 14; 
	-fx-min-height:28; 
	-fx-background-radius:4;
}
.btnpequeno:hover{ 
	-fx-background-color:#3E7E9A; 
	-fx-text-fill:#FFFFFF; 
}


#botonBuscar{
    -fx-background-color:#D65F00;
    -fx-text-fill:#FFFFFF; 
	-fx-font-size:14px; 
	-fx-padding:4 14; 
	-fx-background-radius:4;
}

#btnVolver{ 
	-fx-background-color:#D65F00; 
	-fx-min-width:24; 
	-fx-min-height:24; 
	-fx-font-size:0; 
}

/* =selector tema */
.selector-color{
    -fx-min-width:28; -fx-max-width:28;
    -fx-min-height:25; -fx-max-height:25;
    -fx-background-color:derive(#FFE2C4,-15%);
    -fx-border-color:#4B2400; -fx-border-width:1;
}

/* graficas */
.chart-title  { 
	-fx-text-fill:#FFE2C4; 
	-fx-font-size:16; 
	-fx-font-weight:bold;
 }	
 
.chart-plot-background{ 
	-fx-background-color:#FFFFFF; 
}
.chart-legend{ 
	-fx-background-color:transparent; 
	-fx-text-fill:#FFF9F3; 
}
.axis-label{ 
	-fx-text-fill:#D65F00; 
	-fx-font-weight:bold; 
}

.axis-tick-mark{ 
	-fx-stroke:#D65F00; 
}

.axis{ 
	-fx-tick-label-fill:#D65F00; 
}

